snippet now
`!v strftime("%b %d, %Y %X")`
endsnippet

snippet today
`!v strftime("%A, %B %d %Y")`
endsnippet

snippet sodo "Smart TODO" b
# TODO(on: date('${2:`date -v +30d +%Y-%m-%d`}'), to: '${1:`git config get user.email`}')
endsnippet

snippet box
+-${1/./-/g}-+
| ${1:text} |
+-${1/./-/g}-+
endsnippet
