snippet now
`!v strftime("%b %d, %Y %X")`
endsnippet

snippet today
`!v strftime("%A, %B %d %Y")`
endsnippet

# A smart TODO
snippet sodo
# TODO(on: date('${2:`date -v +30d +%Y-%m-%d`}'), to: '${1:prajjwal.singh@shopify.com}')
endsnippet
