snippet readlines
${1:input} := File clone openForReading(${2:"input.txt"}) readLines
endsnippet

snippet oc
Object clone
endsnippet

snippet regex
Regex with("""(\d+)-(\d+)\ (\w):\ (\w+)""") extended
endsnippet
