snippet l "Insert markdown links from clipboard" w
[${2:`!v @+`}](`!v @+`)
endsnippet

snippet i "Insert image from clipboard" w
![${2:`!v @+`}](`!v @+`)
endsnippet

snippet deets "description list"
<details>
  <summary>${1:Title}</summary>

  ${2:Content}
</details>
endsnippet
