snippet main
fn main() {
    ${1:println!("Hello, world");}
}
endsnippet

snippet p
println!(${1:"hello, world!"});
endsnippet

snippet plog
println!("${1} = {$1}");
endsnippet

snippet dd
#[derive(Debug)]
endsnippet

snippet d
println!("${1} = {:?}", $1);
endsnippet
