snippet main
fn main() {
    ${1:println!("Hello, world");}
}
endsnippet

snippet p
println!("${1:Hello, world}");
endsnippet

snippet e
eprintln!("${1:Error: {err}}");
endsnippet

snippet d
dbg!(${1:xs});
endsnippet

snippet dd
#[derive(Debug)]
endsnippet
