snippet Component
<template>
  ${1:Hello World!}
</template>

<script>
export default {
  data () {
    return {
    }
  },

  // Don't forget to import Component from ''; first!
  components: {
  }
}
</script>

<style lang="scss" scoped>
</style>
endsnippet
