snippet sop
System.out.print(${1});
endsnippet

snippet sopn
System.out.println(${1});
endsnippet

snippet mn
public static void main(String[] args) {
	${1:/* code */}
}
endsnippet

snippet wh
while (${1:/* condition */}) {
	${0: /* code */}
}
endsnippet
