snippet clog "Log to console"
console.log(${1})
endsnippet

snippet cl
(function (document, window, undefined) {
  ${1:/* code */}
})(this.document, this)
endsnippet

snippet cls
(function (${1}) {
  ${0}
})(${2})
endsnippet

snippet f
function ${1}(${2}) {
  ${0}
}
endsnippet
